<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/elements/head %>
</head>
<body id="page-top">
  <% include ../views/elements/header.html %>
  <div id="wrapper">
    <!-- Sidebar -->
    <% include ../views/elements/left-panel.html %>
    <%
    let id ="";
    let age ="";
   
    %>
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/userAge/0" style="font-weight:bold;">Age Categories</a>
          </li>
        </ol>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                  <i class="fas fa-table"></i>
                  <b>Ages</b>
                </div>
           
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered align" id="datTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S. No.</th>
                      <th>Category</th>
                      <th>Age</th>
                      <th>Questions </th>
                      <th>Correct</th>
                      <th>Percentage</th>
                      <!-- <th>Created</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <% if(cateInfo.length > 0){ %>
                      <% let i=0; %>
                      <%  cateInfo.forEach(function(cateInfo){i++%>
                        <tr>
                          <td><%=i%></td>
                          <td>
				<% if(cateInfo.toJSON().categories){%>
					<%=cateInfo.toJSON().categories.category%>
				<%}%>	
			  </td>
                          <td><%=cateInfo.toJSON().age_categories.age%></td>
                          <td><%=cateInfo.questionCount%></td>
                          <td><%=cateInfo.answerCount%></td>
                          <td>
                            <% let per = Math.round((parseInt(cateInfo.answerCount)/parseInt(cateInfo.questionCount))*100) %>
                            <%=per%>
                          </td>
                          <!-- <td>
                            <%=cateInfo.created.toLocaleString('en-us')%>
                          </td> -->
                          
                          <td>
                            
                          </td>
                        </tr>
                      <% }) %>
                      <% }else{ %>
                        <tr>
                          <td colspan="7">
                            <h3><b> No Value </b></h3>
                          </td>
                        </tr>
                      <% } %>
                    </tbody>
                </table>
              
              </div>
            </div>
          </div>
        </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <% include ../views/elements/footer %>
        </footer>
      </div>
          <!-- /.content-wrapper -->
    </div>
  </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <% include ../views/elements/bootom %>
    </body>
  </html>
