<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/elements/head %>
</head>
<body id="page-top">
  <% include ../views/elements/header.html %>
  <div id="wrapper">
    <!-- Sidebar -->
    <% include ../views/elements/left-panel.html %>
    <%
    let id ="";
    let name ="",code="",category_id=0;
    %>
    <style>

    </style>
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb" style="margin-bottom: 0px;">
          <li class="breadcrumb-item">
            <a href="/viewFinalQuestions/0/0/0/0" style="font-weight:bold;">Questions</a>
          </li>
        </ol>
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <form method="post" action="/filterQuestions" id="package">
          <div class="form-group">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <b>Filter</b>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="border:2px solid #dedede;padding:20px;">
              <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <label for="city" class="col-form-label" >Category:</label>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <select class="form-control form-control-sm" id="category" name="category" onchange="getFinalCategory('<%=webURL%>')">
                      <option value="0">Select Category</option>
                      <% category.forEach(function(category)
                      { %>
                        <% if(category.id == category_page_id ){%>
                          <option value="<%= category.id %>" selected>
                            <%= category.category %>
                          </option>
                          <% }else
                          {%>
                            <option value="<%= category.id %>">
                              <%= category.category %>
                           </option>
                          <% }%>
                        <% }); %>
                      </select>
                    </div>
                    </div>

                      <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                          <label for="city" class="col-form-label" >
                            Sub Category:
                          </label>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                          <select class="form-control form-control-sm" id="subCategory" name="subCategory" onchange="getSubCategoryFinal(this,'<%=webURL%>')">>
                            <option value="0">Select SubCategory</option>
                          </select>
                        </div>
                      </div>

                        <input type="hidden" id="hdnCategory" value="<%=category_page_id%>"/>
                        <input type="hidden" id="hdnSubCategory" value="<%=sub_page_category_id%>"/>

                        <div class="col-md-3 col-sm-12 col-xs-12 paddingSt" style="text-align:center;">
                          <a href="#" class="btn btn-success" id="search">Search</a>
                          <a href="<%=webURL%>viewFinalQuestions/0/0/0/0" class="btn btn-info" id="search">
                            <i class="fas fa-sync"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row" style="padding:15px;">
                  <div class="col-md-6" style="border:1px solid #dedede;padding:10px;text-align:center">
                    <textarea id="QuestionData" class="form-control" placeholder="Question Search"></textarea>
                  </div>
                  <div class="col-md-6" style="border:1px solid #dedede;padding:10px;text-align:center">
                    <input type="text" class="form-control" id="optionSearch" placeholder="Answer Search"/>
                  </div>
                  <div class="col-md-12" style="text-align:center">
                    <input type="button"style="margin-top:10px;" value="Search" class="btn btn-success" onclick="searchQuestionFinal('<%=webURL%>','<%=imageURL%>')"/>
                  </div>
                </div>

                <div class="row" style="padding:15px;">
                  <div class="card-header"  >
                    <i class="fas fa-table"></i>
                    <b>Questions List</b>
                  </div>

                </div>
                <% let messages = getMessages()%>

                  <%= messages.notify %>

          <div class="card-body">

		<div>
		  <a href="/exportQuestions" class="btn btn-success" style="float:right">Export</a>
		</div>
            <div class="table-responsive">
              <table class="table table-bordered align" id="datTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>S. No.</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>File</td>
                    <th>Question</th>
                    <th>Option A</th>
                    <th>Option B</th>
                    <th>Option C</th>
                    <th>Option D</th>
                    <th>Answer</th>
                    <th>Created</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="questionArray">
                  <% if(questionsData.length > 0){ %>
                    <% let i=0; %>
                    <%  questionsData.forEach(function(questionsData){i++%>
                      <tr  >
                        <td><%=i%></td>
                        <td >
                          <b>
                            <%=questionsData.category%>
                          </b>
                        </td>
                        <td class="alignLeft">
                          <b>
                            <%=questionsData.subCategory%>
                          </b>
                        </td>
                        <td class="alignLeft">
                          <b>
                            <% if(questionsData.age.length >0){%>
                              <%  questionsData.age.forEach(function(age){%>
                                <%=age%>
                              <% } )%>
                            <% }else{

                            }%>
                          </b>
                        </td>
                        <td class="alignLeft" >
                          <b>
                            <% if(questionsData.country.length >0){%>
                              <%  questionsData.country.forEach(function(country){%>
                                <%=country%>
                              <% } )%>
                            <% }else{
                            }%>
                          </b>
                        </td>
                        <td>
                          <b>
                            <% if(questionsData.image_URL != '' && questionsData.image_URL != null){ %>
                              <a href="<%=imageURL+questionsData.image_URL%>" target="_blank"> To See Image Click Here</a>
                              <br>
                              <a href="#" data-toggle="modal" data-target="#myModal2" onclick="addFile(<%=questionsData.questionGroupId%>)">
                                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                              </a>
                              <br>
                              <% let file= questionsData.image_URL.split("/");%>
                              <span>File Name :</span>
                              <%=file[3]%>
                            <% } else if(questionsData.video_URL != '' && questionsData.video_URL != null){ %>
                              <a href="<%=imageURL+questionsData.video_URL%>" target="_blank"> To See Video Click Here</a>
                              <br>
                              <a href="#" data-toggle="modal" data-target="#myModal2" onclick="addFile(<%=questionsData.questionGroupId%>)">
                                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                              </a>
                              <% let file= questionsData.image_URL.split("/");%>
                              <span>File Name :</span>
                              <%=file[3]%>
                            <% } else if(questionsData.sound_URL!= '' && questionsData.sound_URL != null )
                            {%>
                              <a href="<%=imageURL+questionsData.sound_URL%>" target="_blank"> To See Sound Click Here</a>
                              <br>
                              <a href="#" data-toggle="modal" data-target="#myModal2" onclick="addFile(<%=questionsData.questionGroupId%>)">
                                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                              </a>
                              <% let file= questionsData.image_URL.split("/");%>
                              <span>File Name :</span>
                              <%=file[3]%>
                            <% }else
                            { %>
                              No File Attached
                              <br>
                              <a href="#" data-toggle="modal" data-target="#myModal2" onclick="addFile(<%=questionsData.questionGroupId%>)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </a>
                            <% } %>
                          </b>
                        </td>
                        <td class="alignLeft" style="width:15%" >
                          <%=questionsData.question%>
                        </td>
                        <td class="alignLeft" >
                          <%=questionsData.answer1%>
                        </td>
                        <td class="alignLeft" >
                          <%=questionsData.answer2%>
                        </td>
                        <td class="alignLeft" >
                          <%=questionsData.answer3%></td>
                        <td class="alignLeft" ><%=questionsData.answer4%></td>
                        <td class="alignLeft" ><%=questionsData.correct_Answer%></td>
                        <td><%=questionsData.created.toLocaleDateString('en-us')%></td>
                        <td style="width:110px">
                          <a href="/viewDetailQuestions/<%=questionsData.id%>">
                            <i class="fa fa-eye"></i>
                          </a>
                          <a href="/editQuestions/<%=questionsData.questionGroupId%>" class="paddingSt">
                            <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a href="#" class="paddingSt"  data-toggle="modal" data-target="#myModal" onclick="deleteQF('<%=webURL%>',<%=questionsData.questionGroupId%>)">
                            <i class="fa fa-trash"></i>
                          </a>
                          <a href="#" class="paddingSt"  data-toggle="modal" data-target="#myModal3" onclick="CopyQuestion('<%=webURL%>',<%=questionsData.questionGroupId%>)">
                            <i class="fa fa-copy"></i>
                          </a>
                        </td>
                      </tr>
                      <% }) %>
                      <% }else{ %>
                        <tr>
                          <td colspan="15">
                            <h3><b> No Question </b></h3>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                    <!-- <% if(paginator > 10) { %>
                      <div style="float:right">
                        <% let pages = Math.ceil(paginator/10)%>
                        <ul class="pagination">
                          <% for(let i=0;i<pages;i++) { %>
                            <li class="page-item">
                              <a class="page-link" href="/viewQuestions/<%=category_page_id%>/<%=sub_page_category_id%>/<%=package_id%>/<%=i%>?filter[skip]=<%=i*10 %>">
                                <%=i+1%>
                              </a>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      <% } %> -->
                      <span id='pagination'>
                        <%
                        let j=1;

                        if (paginator > 0) { %>
                        <ul class="pagination text-center">
                            <% var k = (Number(page) > 5 ? Number(page) - 4 : 1) %>

                            <% if (page == 0) { %>
                                <li class="disabled"><a>First</a></li>
                            <% } else { %>
                                <li><a href="/viewFinalQuestions/<%=category_page_id%>/<%=sub_page_category_id%>/<%=package_id%>/0">First</a></li>
                            <% } %>


                          <% if (k !== 1) { %>
                              <li class="disabled"><a>...</a></li>
                          <% } %>
                          <% for (; k <= (Number(page)+20) && k < Math.round(paginator/10); k++) {
                              %>
                                <% if (k == page) { %>
                                    <li class="active"><a><%= k %></a></li>
                                <% } else { %>
                                    <li><a href="/viewFinalQuestions/<%=category_page_id%>/<%=sub_page_category_id%>/<%=package_id%>/<%=parseInt(k)%>/?filter[skip]=<%=k*100 %>"><%= k %></a></li>
                                <% } %>

                                <% if (k == Number(page) + 20 && k < paginator) { %>
                                    <li class="disabled"><a>...</a></li>
                                <% } %>

                          <% } %>
                          <% if (j == paginator) { %>
                            <li class="disabled"><a>Last</a></li>
                          <% } else { %>
                            <li>
                              <a href="/viewFinalQuestions/<%=category_page_id%>/<%=sub_page_category_id%>/<%=package_id%>/<%=Math.round(paginator/100)%>/?filter[skip]=<%=k*(100) %>">
                                Last
                              </a>
                            </li>
                          <% } %>
                        </ul>
                        <% } %>
                      </span>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Delete Pop up -->

                <div class="modal" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Alert</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body algnCenter" >
                        <b style="font-size:16px;">Are you Sure, you want to delete this question.</b>
                        <br>
                        <br>
                        <div>
                          <table class="table" id="multpleData">

                          </table>
                        </div>
                      </div>
                      <!-- Modal footer -->
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Copy Question pop up -->

                <div class="modal" id="myModal3">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Alert</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body algnCenter" >
                        <b style="font-size:16px;">Are you Sure, you want to Copy this question.</b>
                        <br>
                        <br>
                        <div>
                          <span id="copyGroupId">
                            <a class="btn btn-success" href="">YES</a>
                          </span>
                          <a class="btn btn-danger" style="color:#fff" data-dismiss="modal" >NO</a>
                        </div>
                      </div>
                      <!-- Modal footer -->
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>



                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                  <% include ../views/elements/footer %>
                </footer>
              </div>
              <!-- /.content-wrapper -->
            </div>
          </div>
        </div>

        <!-- Pop Up -->

        <div class="modal fade" id="myModal2" role="dialog">
          <div class="modal-dialog">
            <form method="post" action="/addEditFile" id="addEditForm" enctype="multipart/form-data">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="changeImageTitle">
                  Add/Edit File
                </h4>
              </div>
              <div class="modal-body">
                <div class="col-md-12">
                  <div class="col-md-3">
                    <label>File Type</label>
                  </div>
                  <div class="col-md-6">
                    <input type="hidden" value="" name="editQuestionId" id="editQuestionId"/>
                    <select class="form-control form-control-sm" id="fileType" name="fileType" onchange="changeFileType()" required>
                      <option value="">Select File Type</option>
                      <option value="0">No File</option>
                      <option value="1">Image</option>
                      <option value="2">Sound</option>
                      <option value="3">Video</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12" style="display:none" id="zoomEffect">
                    <input type="checkbox" id="zoom" name="zoom">
                      <b class="paddingSt">
                        Zoom
                      </b>
                  </div>
              </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mrgTp" id="imageContainer" style="display:none">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <label for="image" class="col-form-label" >
                      Image:
                    </label>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <input type="file" id="image" class="form-control" name="image"/>
                  </div>
                  <b id="response" style="color:red"></b>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mrgTp" id="soundContainer" style="display:none">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <label for="city" class="col-form-label" >
                      Sound:
                    </label>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <input type="file" id="sound" class="form-control" name="Sound"/>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mrgTp" id="videoContainer" style="display:none">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <label for="city" class="col-form-label" >
                      Video:
                    </label>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <input type="file" id="video" class="form-control" name="Video"/>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:10px;text-align:center">
                  <input type="submit" class="btn btn-success" value="Save" id="btnSubmit">
                </div>
              </div>
              <div class="modal-footer">
                <p id="msg"></p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
          </div>
        </div>
        <footer class="sticky-footer">
          <% include ../views/elements/footer %>
          <% include ../views/elements/bootom %>
        </footer>
        <script>
        function addFile(id)
        {
          $("#editQuestionId").val(id);
        }
          // function  multpleAge(url,id)
          // {
          //
          //     $.ajax({
          //       type: "POST",
          //       url: url+'getMultipleAge',
          //       data: 'id='+id,
          //       success: function(data)
          //       {
          //         $("#multpleAgeData"+id).html("");
          //         $.each(JSON.parse(data), function(key,value)
          //         {
          //           $("#multpleAgeData"+id).append(value.age+" ")
          //         })
          //       }
          //     });
          // }


          function deleteQF(url,id)
          {
            $.ajax({
              type: "POST",
              url: url+'getMultipleQuestion',
              data: 'id='+id,
              success: function(data)
              {
                $("#multpleData").html("");
                let i=0
                $.each(JSON.parse(data), function(key,value)
                {
            //       if(value.length > 1)
            //       {
            //         $("#multpleData").append('<tr><td colspan="3"><b>DELETE ALL </b></td><td><a href='+url+'deleteQuestion/'+value[0].questionGroupId+'/2'+'><i class="fa fa-trash"></a></i></td><tr>');
            //         $.each(value, function(key1,value1)
            //         {
            //           i++
            //           $("#multpleData").append('<tr><td>'+i+'</td><td>'+value1.age+'</td><td>'+value1.name+'</td><td><a href='+url+'deleteQuestion/'+value1.id+'/1'+'><i class="fa fa-trash"></a></i></td><tr>');
            //         })
            //       }
            //       else
            //       {
                    $("#multpleData").append('<tr><td><a  href='+url+'deleteQuestion/'+value[0].questionGroupId+'/2'+' class="btn btn-danger">Yes</a></td><td><a class="btn btn-info">No</a></td><tr>');
                  //}
                  //$("#multpleData").append(value.age+" ")
                })
              }
            });
          }


          function CopyQuestion(webUrl,groupId)
          {
              //alert(1);
              $("#copyGroupId").html('<a href="/copyQuestion/'+groupId+'" class="btn btn-success">Yes</a>')
          }

          function searchQuestionFinal(url,imageURL)
          {
            let quest = $("#QuestionData").val();
            let option = $("#optionSearch").val();
            $.ajax({
              type: "POST",
              url: url+'getQuestionSearchFinal',
              data: 'quest='+quest+'&option='+option+'&likeQuestion=1',
              success: function(data)
              {
                $("#questionArray").html("");
                $("#pagination").html("");

                //let html=''
                let html,i=0;
                $.each(JSON.parse(data), function(key1,value1)
                {
                  $.each(value1, function(key,value)
                  {i++;
                    console.log(value);
                    html += '<tr>';
                    html += '<td>'+i+'</td>';
                    html += '<td><b>'+value.category+'</b></td>';
                    html += '<td><b>'+value.subCategory+'</b></td>';
                    html += '<td><b>'+value.packageName+'</b></td>';
                    html += '<td><b>'
                            if(value.age.length >0){
                            for(let k=0;k<value.age.length;k++)
                              {

                          html +='<span style="margin-left:10px;">'+value.age[k]+'</span>';
                              }
                            }else{
                              console.log(2);
                            }
                    html +=  '</b></td>';
                    html += '<td><b>'
                            if(value.country.length >0){
                            for(let k=0;k<value.country.length;k++)
                              {

                          html +='<span style="margin-left:10px;">'+value.country[k]+'</span>';
                              }
                            }else{
                              console.log(2);
                            }
                    html +=  '</b></td>';



                    html += '<td><b>';
                       if(value.image_URL != '' &&  value.image_URL != null){
                    html += '<a href="'+imageURL+value.image_URL+'" target="_blank">To See Image Click Here</a><br>';
                    html +='<a href="#" data-toggle="modal" data-target="#myModal2" onclick="addFile('+value.questionGroupId+')">';
                    html +='<i class="fas fa-pencil-alt" aria-hidden="true"></i>';
                    html +='</a><br>';
                    html +='<span>File Name:</span>';
                    let file= value.image_URL.split("/");
                    html +=file[3];
                     } else if(value.video_URL != '' &&  value.video_URL != null){
                    html +='<a href="'+imageURL+value.video_URL+'" target="_blank"> To See Video Click Here</a><br>';
                    html +='<a href="#" data-toggle="modal" data-target="#myModal2" onclick="addFile('+value.questionGroupId+')">';
                    html +='<i class="fas fa-pencil-alt" aria-hidden="true"></i>';
                    html +='</a><br>';
                    html +='<span>File Name:</span>';
                    let file= value.image_URL.split("/");
                    html +=file[3];
                      } else if(value.sound_URL != '' &&  value.sound_URL != null ){

                    html +='<a href="'+imageURL+value.sound_URL+'" target="_blank"> To See Sound Click Here</a><br>';
                    html +='<a href="#" data-toggle="modal" data-target="#myModal2" onclick="addFile('+value.questionGroupId+'})">';
                    html +='<i class="fas fa-pencil-alt" aria-hidden="true"></i>';
                    html +='</a>';
                    html +='<span>File Name:</span>';
                    let file= value.sound_URL.split("/");
                    html +=file[3];
                     }else{
                    html +='No File Attached<br>';
                    html +='<a href="#" data-toggle="modal" data-target="#myModal2" onclick="addFile('+value.questionGroupId+')">';
                    html +='<i class="fa fa-plus" aria-hidden="true"></i>';
                    html +='</a>';
                       }
                    html += '<td>'+value.question+'</td>';
                    html += '<td>'+value.answer1+'</td>';
                    html += '<td>'+value.answer2+'</td>';
                    html += '<td>'+value.answer3+'</td>';
                    html += '<td>'+value.answer4+'</td>';
                    html += '<td>'+value.correct_Answer+'</td>';
                    html += '<td>'+value.created+'</td>';
                    html += '<td><a href="/viewDetailQuestions/      '+value.questionGroupId+'"><i class="fa fa-eye"></i></a>';
                    html += '<a href="/editQuestions/'+value.questionGroupId+'" style="margin-left:10px;"><i class="fas fa-pencil-alt"></i></a>';
                    html += '<a href="#" data-toggle="modal" data-target="#myModal" style="margin-left:10px;" onclick="deleteQF(`'+url+'`,'+value.questionGroupId+')"><i class="fa fa-trash"></i></a>';
                    html += '<a class="paddingSt"  data-toggle="modal" data-target="#myModal3" style="margin-left:10px;" onclick="CopyQuestion(`'+url+'`,'+value.questionGroupId+')"><i class="fa fa-copy"></i></a>';

                    // <a href="#" class="paddingSt"  data-toggle="modal" data-target="#myModal3" onclick="CopyQuestion('<%=webURL%>',<%=questionsData.questionGroupId%>)">
                    //   <i class="fa fa-copy"></i>
                    // </a>
                    html += '<tr>';
                  })
                })
                $("#questionArray").append(html);
              }
            })
          }

        </script>
      </body>
      </html>
