<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../views/elements/head %>
  <style>
    .qRpClass{
      border-bottom: solid 2px #cccccc;
    }
    .no-mrg-pd {
      margin: 0px;
      padding: 0px;
    }
    .edt-img {
      background: #be092e;
      color: white;
      padding: 5px;
    }

    body{
  font-family: sans-serif;
  background: #fefefe;
}
    main{
    position: relative;
    width: 100%;
    min-height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #sortable{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 0 10%;
} */
.one{background:#412234}
    .two{background:#6D466B}
    .three{background: #E7CEE3}
    .four{background:#D53467}

.draggable{
        width: 50px;
        height: 50px;
        cursor: grab;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        color: #fff;
    }

.text{
  padding: 20px 0;
  font-size: 24px;
  color: #000;
}
  </style>
</head>

<body id="page-top">
  <% include ../views/elements/header.html %>
  <div id="wrapper">
    <!-- Sidebar -->
    <% include ../views/elements/left-panel.html %>
    <%
    let id =0;
    let category_id=0,pack_id= 0,age='',region='',questionText="",answer1=""
    ,answer2="",answer3="",answer4="",time=0,correct=0,fileType=0,subCategory_id=0,imageUrl2='',soundUrl='',videoUrl=''
    ,objAge = {},finalAgeData = [],objRegion = {},finalRegionData = [],age2 =[],country2=[],countryCode2=[],creditBy,status=0,disabledSelect
    ,questionStatus=0,hint="",disableValue="",regionsCode=[];;
    if(question != null)
    {
      //console.log("question ", question);
        id= question.id
        category_id =  question.category_id;
        pack_id = question.pack_ID;
        status = question.status;
        questionStatus = question.questionActiveStatus;
        if(question.status== 1 || userStatus  == 2)
        {
          disabledSelect="disabled"
        }
        age = question.age_id.split(',');
        region = question.region.split(',');

        //region=question.region;
        questionText=question.question;
        answer1=question.answer1;
        answer2=question.answer2;
        answer3=question.answer3;
        answer4=question.answer4;
        correct=question.correct_Answer;
        time = question.time_Allowed;

        fileType = question.fileType;
        subCategory_id = question.sub_category_id;
        imageUrl2 =question.image_URL;
        soundUrl =question.sound_URL;
        videoUrl =question.video_URL;
        id=question.questionGroupId;
        creditBy = question.creditBy;
        hint= question.hint
        priority= question.priority

        for(let i=0;i<ageData.length;i++)
        {
          objAge = {id:ageData[i].id,age:ageData[i].age,checked:"unchecked"}
          for(let j=0;j<age.length;j++)
          {
            if(ageData[i].id == age[j])
            {
              objAge.checked="checked";
              if(!age2.includes(objAge.id))
              {
                age2.push(objAge.id);
              }

            }
          }

          finalAgeData.push(objAge);
        }
        

        for(let i=0;i<country.length;i++)
        {
          objRegion = {id:country[i].id,name:country[i].name,lang:country[i].language,image:country[i].image,checked:"unchecked"}
          for(let j=0;j<region.length;j++)
          {
            if(country[i].id == region[j])
            {
              regionsCode.push(country[i].country)
              objRegion.checked="checked";
              if(!country2.includes(objRegion.id))
              {
                country2.push(objRegion.id)
                countryCode2.push(objRegion.lang)
              }

            }
          }

          finalRegionData.push(objRegion);
        }
        //console.log("My Final REgion",regionsCode);
    }

    if(userStatus !=  1)
    {
      disableValue="disabled"

    }
    %>

    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/questions/0" style="font-weight:bold;">Questions</a>
          </li>
          <!-- <li class="breadcrumb-item">
            <a href="/questions/0" style="font-weight:bold;">Free Play Questions</a>
          </li> -->
        </ol>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:30px;">
            <% let messages = getMessages()%>
            <label class="col-sm-12 col-form-label" style="text-align:center">
              <%= messages.notify %>
            </label>
            <form method="post" action="/addQuestions" id="questionValidateData" enctype="multipart/form-data">
              <div class="form-group">
                <div class="card-header">
                  
                  <% if(question.historyType == 1){ %>
                  <div class="col-md-4 col-sm-12 col-xs-12" style="float:right">
                    <div class="row">
                      <div class="col-md-8 col-sm-12 col-xs-12">
                        <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#myModal4" onclick="openPop('<%=question.questionSecond%>','<%=question.answer1Second%>','<%=question.answer2Second%>','<%=question.answer3Second%>','<%=question.answer4Second%>','<%=question.hintSecond%>','<%=question.correct_AnswerSecond%>','<%=question.image_URLSecond%>','<%=question.video_URLSecond%>','<%=question.sound_URLSecond%>','<%=question.creditBySecond%>')">History</a>
                      </div>
                    </div>
                  </div>
                  <% } %>
                  <i class="fas fa-table"></i>
                  <b>Edit Questions</b>
                  
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="border:2px solid #dedede;padding:10px;">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="hidden" name="id" value="<%=question.questionMasterId%>" />
                    <!--  ================ Category ============== -->
                    <div class="col-md-4 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                          <label for="city" class="col-form-label">Category:</label>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                          <select class="form-control form-control-sm" id="category" name="category"
                            onchange="getCategory('<%=webURL%>')" required  <%=disableValue%>>
                            <option value="">Select Category</option>
                            <% category.forEach(function(category){ %>
                            <% if(category.id == category_id ){%>
                            <option value="<%= category.id %>" selected>
                              <%= category.category %>
                            </option>
                            <% }else{%>
                            <option value="<%= category.id %>">
                              <%= category.category %>
                            </option>
                            <% }%>
                            <% }); %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!--  ================ SubCategory ============== -->
                    <div class="col-md-4 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                          <label for="city" class="col-form-label">
                            Sub Category:
                          </label>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">

                          <select class="form-control form-control-sm" id="subCategory" name="subCategory" required <%=disableValue%> >
                            <%if(subCategory_id){ %>
                            <% subCategory.forEach(function(subCategory){ %>
                            <% if(subCategory.id == subCategory_id ){%>
                            <option value="<%= subCategory.id %>" selected><%= subCategory.subCategory %></option>
                            <% }else{%>
                            <option value="<%= subCategory.id %>">
                              <%= subCategory.subCategory %>
                            </option>
                            <% }%>
                            <% }); %>
                            <% }else{ %>
                            <option value="">Select SubCategory</option>
                            <% } %>
                          </select>
                        </div>

                      </div>
                    </div>

                    <!--  ================ Packages ============== -->

                    <div class="d-inline-block">
                      <!-- <div class="col-md-3 col-sm-12 col-xs-12">
                        <label for="city" class="col-form-label">
                          Package:
                        </label>
                      </div>
                      <div class="col-md-8 col-sm-12 col-xs-12">
                        <select class="form-control form-control-sm" id="sltPackage" name="package" required
                          onchange="setPackage('<%=webURL%>')" <%=disabledSelect %> >
                          <option value="">Select Package</option>
                          <% if(pack_id == pack_id){%>
                            <option value="0" selected>Free Play</option>
                          <% }else{%>
                            <option value="0">Free Play</option>
                          <% } %>
                          <% packages.forEach(function(packages){ %>
                          <% if(packages.id == pack_id){%>
                          <option value="<%= packages.id %>" selected><%= packages.packageName %></option>
                          <% }else{ %>
                          <option value="<%= packages.id %>"><%= packages.packageName %></option>
                          <% } %>
                          <% }); %>
                        </select>
                      </div>
                      <%if(userStatus == 2){%>
                        <input type="hidden" name="package" value='<%=pack_id%>'/>
                      <% }%>   -->
                      <input type="hidden" name="package" value='<%=pack_id%>'/>
                    </div>

                    <div class="col-sm-12 mt-2">
                      <div class="mt-3 mx-0 row">
                        <!---------------- Free play -------------------->

                        <div class="d-inline-block mr-2">
                          <% if(status == 1) {%>
                          <input id="chkbox" type="checkbox" onclick="freePlaySelected(checked)" checked>
                          <input class="form-control" type="hidden" id="freePlay" name="finalRound" value="1" >
                          <%} else {%>
                            <input id="chkbox" type="checkbox" onclick="freePlaySelected(checked)">
                            <input class="form-control" type="hidden" id="freePlay" name="finalRound" value="0">
                            <% } %>

                          <label for="city" class="col-form-label">
                            Final Round
                          </label>
                        </div>
                      </div>
                    </div>

                    <!--  ============== Ages ============== -->

                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:20px">
                      <div class="row">
                        <div class="col-md-1 col-sm-12 col-xs-12">
                          <label for="city" class="col-form-label">
                            Age:
                          </label>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                          <% finalAgeData.forEach(function(ageData){ %>
                          <div class="col-md-3 inline_collection" style="padding-left:40px" id="ageC">
                            <label for="ageVal[]">
                              <b style="padding:10px;">
                                <%=ageData.age%>
                              </b>
                              <input type="checkbox" id="ageCategory" class="floatLeft" value="<%=ageData.id%>"
                                name="ageVal[]" <%=ageData.checked%> <%=disableValue%> onclick="addAgeArray('<%=ageData.id%>',this)">
                              <label>
                          </div>
                          <% }) %>
                          <input type="hidden" value="<%=age2%>" id="resultant_arr" name="age" />
                          <input type="hidden" value="<%=questionStatus%>"  name="questionActiveStatus" />
                        </div>
                        <div class="col-md-12" style="text-align:center">
                          <b id="validateAgeError" style="color:red">
                          </b>
                        </div>
                      </div>
                    </div>

                    <!--  ============== Region ============== -->
                   
                      <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
                        <div class="row">
                          <div class="col-md-1 col-sm-12 col-xs-12">
                            <label for="city" class="col-form-label">
                              Region:
                            </label>
                          </div>
                          <div class="col-md-8 col-sm-12 col-xs-12">
                            <% finalRegionData.forEach(function(country){ 
                              
                            %>
                            <div class="col-md-3" style="padding-left:40px" id="regionCa">
                              <label for="countryVal[]">
                                <b style="padding:10px;"><%=country.name%></b>
                                <%if(userStatus== 1)
                    		{ %>

                                <input type="checkbox" id="country" class="floatLeft" value="<%=country.id%>"
                                  name="countryVal[]" <%=country.checked%> <%=disableValue%>
                                  onclick="addCountryArray('<%=imageURL%>','<%=country.id%>','<%=country.lang%>','<%=country.image%>','<%=question.questionArr[0].question%>','<%=question.questionArr[0].answer1%>','<%=question.questionArr[0].answer2%>','<%=question.questionArr[0].answer3%>','<%=question.questionArr[0].answer4%>','<%=question.questionArr[0].correct_Answer%>','<%=question.questionArr[0].hint%>','<%=question.questionArr[0].fileType%>','<%=question.questionArr[0].image_URL%>','<%=question.questionArr[0].sound_URL%>','<%=question.questionArr[0].video_URL%>',this)"  />
				<% }else{ %>
<input type="checkbox" id="country" class="floatLeft" value="<%=country.id%>"
                                  name="countryVal[]" <%=country.checked%> <%=disableValue%>
                                  />

				<% } %>
                              </label>
                            </div>
                            <% }) %>
                            <div class="col-md-12" style="text-align:center">
                              <b id="validateRegionError" style="color:red">
                              </b>
                            </div>
                            
                          </div>
                        </div>
                      </div>

                    <input type="hidden" value="<%=imageUrl2%>" name="imageUrl" />
                    <input type="hidden" value="<%=soundUrl%>" name="soundUrl" />
                    <input type="hidden" value="<%=videoUrl%>" name="videoUrl" />
                    <input type="hidden" value="<%=country2%>" id="country_arr" name="region" />
                    <input type="hidden" value="<%=countryCode2%>" id="country_region_arr" name="region_code" />
                    <input type="hidden" value="<%=countryCode2%>" id="alrd_region_arr" name="alrd_region_code" />
                    <input type="hidden" value="" id="new_region_arr" name="new_region_code" />
                    <input type="hidden" value="1" id="fileExist" name="fileExist" />
                    <input type="hidden" value="<%=type%>" id="type" name="type" />
                    <input type="hidden" value="<%=regionType%>"  name="regionType" />
                   
                    
                    
                    

                    <!--  ============== Time Allowed ============== -->
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                              <label for="city" class="col-form-label">
                                Time Allowed:
                              </label>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                              <!-- <input type="text" name="timeAllowed" id="timeAllowed" class="form-control"/> -->
                              <select class="form-control" name="timeAllowed" id="timeAllowed" <%=disableValue%>>
                                <% if(time == 15){%>
                                <option selected>15</option>
                                <% }else{%>
                                <option>15</option>
                                <% }%>
                                <% if(time == 20){%>

                                <option selected>20</option>
                                <% }else{%>
                                <option>20</option>
                                <% }%>
                                <% if(time == 25){%>
                                <option selected>25</option>
                                <% }else{%>
                                <option>25</option>
                                <% }%>
                                <% if(time == "30"){%>
                                <option selected>30</option>
                                <% }else{%>
                                <option>30</option>
                                <% }%>
                                <% if(time == "35"){%>
                                <option selected>35</option>
                                <% }else{%>
                                <option>35</option>
                                <% }%>
                                <% if(time == "40"){%>
                                <option selected>40</option>
                                <% }else{%>
                                <option>40</option>
                                <% }%>
                                <% if(time == "45"){%>
                                <option selected>45</option>
                                <% }else{%>
                                <option>45</option>
                                <% }%>
                                <% if(time == "50"){%>
                                <option selected>50</option>
                                <% }else{%>
                                <option>50</option>
                                <% }%>
                                <% if(time == "55"){%>
                                <option selected>55</option>
                                <% }else{%>
                                <option>55</option>
                                <% }%>
                                <% if(time == "60"){%>
                                <option selected>60</option>
                                <% }else{%>
                                <option>60</option>
                                <% }%>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                          <div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12">
                              <label for="image" class="col-form-label">
                                File Type:
                              </label>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                              <select class="form-control form-control-sm" id="fileType_<%=regionCode%>" name="fileType_<%=regionCode%>"
                                onchange="changeFileType('<%=regionCode%>')">
                                <% if(fileType == 0){ %>
                                <option value="0">Select File Type</option>
                                <option value="0">No File</option>
                                <option value="1">Image</option>
                                <option value="2">Sound</option>
                                <option value="3">Video</option>
                                <% }else if(fileType == 1 || fileType == 4){ %>
                                <option value="0">Select File Type</option>
                                <option value="0">No File</option>
                                <option value="1" selected>Image</option>
                                <option value="2">Sound</option>
                                <option value="3">Video</option>
                                <% }else if(fileType == 2){ %>
                                <option value="0">Select File Type</option>
                                <option value="0">No File</option>
                                <option value="1">Image</option>
                                <option value="2" selected>Sound</option>
                                <option value="3">Video</option>
                                <% }else if(fileType == 3){ %>
                                <option value="0">Select File Type</option>
                                <option value="0">No File</option>
                                <option value="1">Image</option>
                                <option value="2">Sound</option>
                                <option value="3" selected>Video</option>
                                <% } %>
                              </select>
                            </div>
                            
                            <div class="col-md-4 col-sm-12 col-xs-12" style="display:none" id="zoomEffect">
                              <input type="checkbox" id="zoom" name="zoom">
                              <b class="paddingSt">
                                Zoom
                              </b>
                            </div>
                            

                            <div style="clear:both"></div>
                           
                            <% if(fileType == 1 || fileType == 4)
                            { %>
                                      
                              <div class="col-md-12 col-sm-12 col-xs-12 mrgTp no-mrg-pd" id="imageContainer_<%=regionCode%>">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                  <label for="image" class="col-form-label">
                                    Image:
                                  </label>
                                </div>
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <a href="<%=imageURL+question.image_URL%>" target="_blank">
                                          To See image Click Here
                                        </a>
                                        <img src="<%=imageURL+question.image_URL%>" width="100px;" id="imgRgn_<%=regionCode%>" />

                                        <a class="edt-img" href="javascript:void(0)" onclick="openImage('<%=regionCode%>')">
                                          <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        
                                          <p id="imgRes_<%=regionCode%>">400px x 300px, 6.54 KB</p>
                                        

                                        <input type="file" class="form-control" id="changeImage<%=regionCode%>" name="image_<%=regionCode%>"
                                          style="display:none" />
                                      </div>
                                    </div>
                                    
                                    <% }else{ %>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mrgTp no-mrg-pd" id="imageContainer_<%=regionCode%>" style="display:none">
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="image" class="col-form-label">
                                          Image:
                                        </label>
                                      </div>
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="file" class="form-control" name="image_<%=regionCode%>" />
                                      </div>
                                    </div>
                                    <% } %>
                                    <% if(fileType == 2){ %>
                                    <div class="col-md-6 col-sm-12 col-xs-12 mrgTp" id="soundContainer_<%=regionCode%>">
                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label for="city" class="col-form-label">
                                          Sound:
                                        </label>
                                      </div>
                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                        <a href="<%=imageURL+question.sound_URL%>" target="_blank">
                                        
                                          To See Sound Click Here
                                        </a>
                                        <a href="javascript:void(0)" onclick="openSound('<%=regionCode%>')">
                                          <i class="fas fa-pencil-alt"></i>

                                        </a>
                                        <input type="file" class="form-control" name="Sound_<%=regionCode%>" id="changeSound_<%=regionCode%>"
                                          style="display:none" />
                                      </div>
                                    </div>
                                    <% }else{ %>
                                    <div class="col-md-6 col-sm-12 col-xs-12 mrgTp" id="soundContainer_<%=regionCode%>" style="display:none">
                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label for="city" class="col-form-label">
                                          Sound:
                                        </label>
                                      </div>
                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                        <input type="file" class="form-control" name="Sound_<%=regionCode%>" />
                                      </div>
                                    </div>
                                    <% } %>

                                    <% if(fileType == 3){ %>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mrgTp">
                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label for="city" class="col-form-label">
                                          Explanation Video:
                                        </label>
                                      </div>
                                      <% if(question.SupportVideoURL != "" && question.SupportVideoURL != null){%>
                                        <input type="checkbox" checked id="videoCh_<%=regionCode%>" onclick="hideSuport(checked,`<%=regionCode%>`)">
                                      <%}else{%>
                                        <input type="checkbox" id="videoCh_<%=regionCode%>" onclick="hideSuport(checked,`<%=regionCode%>`)">
                                      <%} %>
                                    </div>    
                                    <div class="col-md-12 col-sm-12 col-xs-12 mrgTp" id="videoContainer_<%=regionCode%>" >
                                      
                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label for="city" class="col-form-label">
                                          Main Video:
                                        </label>
                                      </div>
                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                        <a href="<%=imageURL+question.video_URL%>" target="_blank">
                                          To See Video Click Here
                                        </a>
                                        <a href="javascript:void(0)" onclick="openVideo('<%=regionCode%>')">
                                          <i class="fas fa-pencil-alt"></i>

                                        </a>
                                        <input type="file" class="form-control" name="Video_<%=regionCode%>" id="changeVideo_<%=regionCode%>"
                                          style="display:none" />
                                      </div>
                                      <% if(question.SupportVideoURL != "" && question.SupportVideoURL != null){%>
                                        <div class="col-md-12 col-sm-12 col-xs-12" id="supprtVide_<%=regionCode%>">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                          <label for="city" class="col-form-label">
                                            Explanation Video URL:
                                          </label>
                                        </div>
                                        <div class="col-md-6   col-sm-12 col-xs-12">
                                          <a href="<%=imageURL+question.SupportVideoURL%>" target="_blank">
                                            To See Explanation Video Click Here
                                          </a>
                                          <a href="javascript:void(0)" onclick="openSupportVideo('<%=regionCode%>')">
                                            <i class="fas fa-pencil-alt"></i>

                                          </a>
                                          <input type="file" class="form-control" name="SupportVideoURL_<%=regionCode%>" id="changeSupportVideo_<%=regionCode%>"
                                            style="display:none" />
                                        </div>
                                       </div>
                                      <% }
                                      else
                                      {%>
                                        
                                        <div class="col-md-12 col-sm-12 col-xs-12 mrgTp" >
                                          <div id="supportVideoContainer_<%=regionCode%>" style="display:none">
                                            <div class="col-md-6 col-sm-12 col-xs-12" >
                                              <label for="city" class="col-form-label">
                                                Explanation Video :
                                              </label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">

                                              <input type="file" class="form-control" name="SupportVideoURL_<%=regionCode%>" />
                                            </div>
                                          </div>
                                        </div>
                                      <% } %> 
                                  </div>

                                    <% }else{ %>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mrgTp"  style="text-align: left;
                                    padding: inherit;">
                                      <div id="videoContainer_<%=regionCode%>" style="display:none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 mrgTp">
                                          <div class="col-md-8 col-sm-12 col-xs-12">
                                            <label for="city" class="col-form-label">
                                              Explanation Video:
                                            </label>
                                          </div>
                                          <input type="checkbox" id="videoCh_<%=regionCode%>" onclick="hideSuport(checked,`<%=regionCode%>`)">  
                                          
                                          
                                        </div> 
                                        
                                        <div class="col-md-4 col-sm-12 col-xs-12" >
                                          <label for="city" class="col-form-label">
                                            Main Video:
                                          </label>
                                        </div>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                          <input type="file" class="form-control" name="Video_<%=regionCode%>" />
                                        </div>
                                      </div>
                                      <div class="col-md-12 col-sm-12 col-xs-12 mrgTp" style="display:none" id="supprtVide_<%=regionCode%>" >
                                        <div id="supportVideoContainer_<%=regionCode%>" >
                                        <div class="col-md-4 col-sm-12 col-xs-12" >
                                          <label for="city" class="col-form-label">
                                            Explanation Video:
                                          </label>
                                        </div>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                          <input type="file" class="form-control" name="SupportVideoURL_<%=regionCode%>" />
                                        </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    <% } %>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                              <!--<p id="errorAll" style="font:bold;color:red;display:none;text-align: center;">Uploading image from here will not effect as already images are set</p>-->
                            </div> 
                            
                          </div>
                        </div>
                        
                        <div class="col-md-12" style="margin-top:15px;">
                          <div class="col-md-4">
                            <div class="col-md-4">
                              <label for="image" class="col-form-label" >
                                Credit By:
                              </label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" name="creditBy" id="" value = " <%=creditBy%>" class="form-control" >
                            </div>
                          </div>
                          
                          <div class="col-md-4">
                            <div class="col-md-4">
                              <label for="image" class="col-form-label" >
                                Priority:
                              </label>
                            </div>
                            <div class="col-md-8">
                              <select class="form-control" name="priority" id="timeAllowed" <%=disableValue%>>
                                  
                                <% if(priority == 1){%>
                                  <option value="1" selected>1</option>
                                <% }else{ %>  
                                  <option value="1" >1</option>
                                <% }%>
                                <% if(priority == 2){%>
                                  <option value="2" selected>2</option>
                                <% }else{ %>  
                                  <option value="2" >2</option>
                                <% }%>
                                
                                
                              </select>
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
                    </div>

                    <%if(userStatus== 2)
                    { %>
                      <% if(type ==2){%>
                      <% if(questionsMain){%>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row"  style="margin-top:10px;;border:2px solid #dedede">
                          
                          <div style="padding:10px">
                            <b> Original Question : </b>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12" style="padding:20px;float:left;">
  
                            <div style="margin-top:10px;">
                              <textarea class="form-control" rows="4" 
                              cols="50" readonly
                                >
                             <%=questionsMain.question%>
                           </textarea>
                            </div>
  
                            <div class="col-md-6" style="padding:10px;">
                              <div class="col-md-3">
                                <b>Option A: </b>
                              </div>
                              <div class="col-md-9">
                                <input type="text" class="form-control col-md-6" 
                                value="<%=questionsMain.answer1%>" readonly/>
                              </div>
                            </div>
                            <div class="col-md-6" style="padding:10px;">
                              <div class="col-md-3">
                                <b>Option B: </b>
                              </div>
                              <div class="col-md-9">
                                <input type="text" class="form-control col-md-6" 
                                value="<%=questionsMain.answer2%>" readonly/>
                              </div>
                            </div>
                            <div class="col-md-6" style="padding:10px;">
                              <div class="col-md-3">
                                <b>Option C: </b>
                              </div>
                              <div class="col-md-9">
                                <input type="text" class="form-control col-md-6"
                                 value="<%=questionsMain.answer3%>" 
                                   readonly/>
                              </div>
                            </div>
                            <div class="col-md-6" style="padding:10px;">
                              <div class="col-md-3">
                                <b>Option D: </b>
                              </div>
                              <div class="col-md-9">
                                <input type="text" 
                                class="form-control col-md-6" value="<%=questionsMain.answer4%>" 
                                readonly/>
                              </div>
                            </div>
                         </div>
                       </div>   
                      </div>       
                       <% } %>
                       <%} %>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="float:left;padding:10px;font-size:16px;">
                          <div>
                            <b>Question : </b>
                          </div>
                          
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:20px;float:left;">

                          <div style="margin-top:10px;">
                            <textarea class="form-control" rows="4" cols="50" name="question" id="questionText"
                              required>
                           <%=questionText%>
                         </textarea>
                          </div>

                          <div class="col-md-6" style="padding:10px;">
                            <div class="col-md-3">
                              <b>Option A: </b>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control col-md-6" value="<%=answer1%>" name="option1"
                                id="option1" />
                            </div>
                          </div>
                          <div class="col-md-6" style="padding:10px;">
                            <div class="col-md-3">
                              <b>Option B: </b>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control col-md-6" value="<%=answer2%>" name="option2"
                                id="option2" />
                            </div>
                          </div>
                          <div class="col-md-6" style="padding:10px;">
                            <div class="col-md-3">
                              <b>Option C: </b>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control col-md-6" value="<%=answer3%>" name="option3"
                                id="option3" />
                            </div>
                          </div>
                          <div class="col-md-6" style="padding:10px;">
                            <div class="col-md-3">
                              <b>Option D: </b>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control col-md-6" value="<%=answer4%>" name="option4"
                                id="option4" />
                            </div>
                          </div>
                          <div class="col-md-6" style="padding:10px;">
                            <div class="col-md-3">
                              <b>Answer : </b>
                            </div>
                            <div class="col-md-4">
                              <select class="form-control" name="answer" id="answer">
                                <option value="">Please Select</option>
                                <% if(correct == "A"){%>
                                <option selected>A</option>
                                <% }else{%>
                                <option>A</option>
                                <% }%>
                                <% if(correct == "B"){%>
                                asasd
                                <option selected>B</option>
                                <% }else{%>
                                <option>B</option>
                                <% }%>
                                <% if(correct == "C"){%>
                                <option selected>C</option>
                                <% }else{%>
                                <option>C</option>
                                <% }%>
                                <% if(correct == "D"){%>
                                <option selected>D</option>
                                <% }else{%>
                                <option>D</option>
                                <% }%>
                              </select>
                              <!-- <input type="text" class="form-control col-md-6" name="answer" id="answer"/> -->
                            </div>

                          </div>
                          <% }else{ let i=0; %>
                          
                          <div id="top-level-qs" class="col-md-12 col-sm-12 col-xs-12" style="padding:20px;float:left;">
                            <input type="hidden" id="total-qdiv" value="<%=question.questionArr.length%>" />

                            <% question.questionArr.forEach(function(questioninfo){ %>
                            
                              <div id="qdiv<%=questioninfo.country_id%>" class="col-md-12 col-sm-12 col-xs-12 qRpClass" style="padding:20px;float:left;">

                                <!--<div class="col-md-12 col-sm-12 col-xs-12" style="float:left;padding:10px;font-size:16px;">
                                  <div>
                                    <b>Question : </b>
                                  </div>
                                  
                                </div>-->

                                <div style="margin-top:10px;">
                                  <textarea class="form-control" rows="2" cols="50" name="question_<%=questioninfo.language%>" id="questionText"
                                    required>
                                 <%=questioninfo.question%>
                               </textarea>
                                </div>

                                <div class="col-md-6">  

                                  <div class="col-md-6" style="padding:10px;">
                                    <div class="col-md-12">
                                      <b>Option A: </b>
                                    </div>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control col-md-6" value="<%=questioninfo.answer1%>" name="option1_<%=questioninfo.language%>"
                                        id="option1" />
                                    </div>
                                  </div>
                                  <div class="col-md-6" style="padding:10px;">
                                    <div class="col-md-12">
                                      <b>Option B: </b>
                                    </div>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control col-md-6" value="<%=questioninfo.answer2%>" name="option2_<%=questioninfo.language%>"
                                        id="option2" />
                                    </div>
                                  </div>
                                  <div class="col-md-6" style="padding:10px;">
                                    <div class="col-md-12">
                                      <b>Option C: </b>
                                    </div>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control col-md-6" value="<%=questioninfo.answer3%>" name="option3_<%=questioninfo.language%>"
                                        id="option3" />
                                    </div>
                                  </div>
                                  <div class="col-md-6" style="padding:10px;">
                                    <div class="col-md-12">
                                      <b>Option D: </b>
                                    </div>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control col-md-6" value="<%=questioninfo.answer4%>" name="option4_<%=questioninfo.language%>"
                                        id="option4" />
                                    </div>
                                  </div>
                                </div>
                                <input type="hidden" value="<%=questioninfo.image_URL%>" name="imageUrl_<%=questioninfo.language%>" id="imageUrl_<%=questioninfo.language%>" />
                                <input type="hidden" value="<%=questioninfo.sound_URL%>" name="soundUrl_<%=questioninfo.language%>"  id="soundUrl_<%=questioninfo.language%>"/>
                                <input type="hidden" value="<%=questioninfo.video_URL%>" name="videoUrl_<%=questioninfo.language%>"  id="videoUrl_<%=questioninfo.language%>"/>
                                <div class="col-md-3">
                                  <div class="col-md-12" style="padding:10px;">
                                    <div class="col-md-12">
                                      <b>Answer : </b>
                                    </div>
                                    <div class="col-md-12">
                                      <select class="form-control" name="answer_<%=questioninfo.language%>" id="answer">
                                        <option value="">Please Select</option>
                                        <% if(questioninfo.correct_Answer == "A"){%>
                                        <option selected>A</option>
                                        <% }else{%>
                                        <option>A</option>
                                        <% }%>
                                        <% if(questioninfo.correct_Answer == "B"){%>
                                        asasd
                                        <option selected>B</option>
                                        <% }else{%>
                                        <option>B</option>
                                        <% }%>
                                        <% if(questioninfo.correct_Answer == "C"){%>
                                        <option selected>C</option>
                                        <% }else{%>
                                        <option>C</option>
                                        <% }%>
                                        <% if(questioninfo.correct_Answer == "D"){%>
                                        <option selected>D</option>
                                        <% }else{%>
                                        <option>D</option>
                                        <% }%>
                                      </select>
                                     
                                    </div>
                                  </div>
                                  <div class="col-md-12" style="padding:10px;">
                                    <div style="width:40px;height:40px; margin-left:15px">
                                      <% if(questioninfo.countryImage != "null"){%>
                                        <img src="<%=imageURL+questioninfo.countryImage%>" class="" width="100%;"/>
                                      <% }else{ %>  
                                        <%=questioninfo.language%>
                                      <% } %>  
                                    </div>
                                  </div>

                                </div> 
                                <div class="col-md-3">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                  <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                      <label for="image" class="col-form-label">
                                        File Type:
                                      </label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                      <select class="form-control form-control-sm" id="fileType_<%=questioninfo.language%>" name="fileType_<%=questioninfo.language%>"
                                        onchange="changeFileType('<%=questioninfo.language%>')">
                                        <% if(questioninfo.fileType == 0){ %>
                                        <option value="0">Select File Type</option>
                                        <option value="0">No File</option>
                                        <option value="1">Image</option>
                                        <option value="2">Sound</option>
                                        <option value="3">Video</option>
                                        <% }else if(questioninfo.fileType == 1 || questioninfo.fileType == 4){ %>
                                        <option value="0">Select File Type</option>
                                        <option value="0">No File</option>
                                        <option value="1" selected>Image</option>
                                        <option value="2">Sound</option>
                                        <option value="3">Video</option>
                                        <% }else if(questioninfo.fileType == 2){ %>
                                        <option value="0">Select File Type</option>
                                        <option value="0">No File</option>
                                        <option value="1">Image</option>
                                        <option value="2" selected>Sound</option>
                                        <option value="3">Video</option>
                                        <% }else if(questioninfo.fileType == 3){ %>
                                        <option value="0">Select File Type</option>
                                        <option value="0">No File</option>
                                        <option value="1">Image</option>
                                        <option value="2">Sound</option>
                                        <option value="3" selected>Video</option>
                                        <% } %>
                                      </select>
                                    </div>
                                    <% if(questioninfo.fileType == 4){ %>
                                    <div class="col-md-12 col-sm-12 col-xs-12" id="zoomEffect_<%=questioninfo.language%>">
                                      <input type="checkbox" id="zoom" name="zoom_<%=questioninfo.language%>" checked>
                                      <b class="paddingSt">
                                        Zoom
                                      </b>
                                    </div>
                                    <% }else if(questioninfo.fileType == 1) {%>
                                    <div class="col-md-12 col-sm-12 col-xs-12" id="zoomEffect_<%=questioninfo.language%>">
                                      <input type="checkbox" id="zoom" name="zoom_<%=questioninfo.language%>" >
                                      <b class="paddingSt">
                                        Zoom
                                      </b>
                                    </div>
                                    <% }else{ %>
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="display:none" id="zoomEffect_<%=questioninfo.language%>">
                                      <input type="checkbox" id="zoom" name="zoom_<%=questioninfo.language%>">
                                      <b class="paddingSt">
                                        Zoom
                                      </b>
                                    </div>
                                    <% } %>


                                    <div style="clear:both"></div>
                                    <% if(questioninfo.fileType == 1 || questioninfo.fileType == 4)
                                    { %>
                                      
                                    <div class="col-md-12 col-sm-12 col-xs-12 mrgTp no-mrg-pd" id="imageContainer_<%=questioninfo.language%>">
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="image" class="col-form-label">
                                          Image:
                                        </label>
                                      </div>
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <a href="<%=imageURL+questioninfo.image_URL%>" target="_blank">
                                          To See image Click Here
                                        </a>
                                        <img src="<%=imageURL+questioninfo.image_URL%>" width="100px;" id="imgRgn_<%=questioninfo.language%>" />

                                        <a class="edt-img" href="javascript:void(0)" onclick="openImage('<%=questioninfo.language%>')">
                                          <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        
                                          <p id="imgRes_<%=questioninfo.language%>">400px x 300px, 6.54 KB</p>
                                        

                                        <input type="file" class="form-control" id="changeImage<%=questioninfo.language%>" name="image_<%=questioninfo.language%>"
                                          style="display:none" />
                                      </div>
                                    </div>
                                    
                                    <% }else{ %>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mrgTp no-mrg-pd" id="imageContainer_<%=questioninfo.language%>" style="display:none">
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="image" class="col-form-label">
                                          Image:
                                        </label>
                                      </div>
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="file" class="form-control" name="image_<%=questioninfo.language%>" />
                                      </div>
                                    </div>
                                    <% } %>
                                    <% if(questioninfo.fileType == 2){ %>
                                    <div class="col-md-6 col-sm-12 col-xs-12 mrgTp" id="soundContainer_<%=questioninfo.language%>">
                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label for="city" class="col-form-label">
                                          Sound:
                                        </label>
                                      </div>
                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                        <a href="<%=imageURL+questioninfo.sound_URL%>" target="_blank">
                                        
                                          To See Sound Click Here
                                        </a>
                                        <a href="javascript:void(0)" onclick="openSound('<%=questioninfo.language%>')">
                                          <i class="fas fa-pencil-alt"></i>

                                        </a>
                                        <input type="file" class="form-control" name="Sound_<%=questioninfo.language%>" id="changeSound_<%=questioninfo.language%>"
                                          style="display:none" />
                                      </div>
                                    </div>
                                    <% }else{ %>
                                    <div class="col-md-6 col-sm-12 col-xs-12 mrgTp" id="soundContainer_<%=questioninfo.language%>" style="display:none">
                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label for="city" class="col-form-label">
                                          Sound:
                                        </label>
                                      </div>
                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                        <input type="file" class="form-control" name="Sound_<%=questioninfo.language%>" />
                                      </div>
                                    </div>
                                    <% } %>

                                    <% if(questioninfo.fileType == 3){ %>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mrgTp">
                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label for="city" class="col-form-label">
                                          Explanation Video:
                                        </label>
                                      </div>
                                      <% if(questioninfo.SupportVideoURL != "" && questioninfo.SupportVideoURL != null){%>
                                        <input type="checkbox" checked id="videoCh_<%=questioninfo.language%>" onclick="hideSuport(checked,`<%=questioninfo.language%>`)">
                                      <%}else{%>
                                        <input type="checkbox" id="videoCh_<%=questioninfo.language%>" onclick="hideSuport(checked,`<%=questioninfo.language%>`)">
                                      <%} %>
                                    </div>    
                                    <div class="col-md-12 col-sm-12 col-xs-12 mrgTp" id="videoContainer_<%=questioninfo.language%>" >
                                      
                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label for="city" class="col-form-label">
                                          Main Video:
                                        </label>
                                      </div>
                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                        <a href="<%=imageURL+questioninfo.video_URL%>" target="_blank">
                                          To See Video Click Here
                                        </a>
                                        <a href="javascript:void(0)" onclick="openVideo('<%=questioninfo.language%>')">
                                          <i class="fas fa-pencil-alt"></i>

                                        </a>
                                        <input type="file" class="form-control" name="Video_<%=questioninfo.language%>" id="changeVideo_<%=questioninfo.language%>"
                                          style="display:none" />
                                      </div>
                                      <% if(questioninfo.SupportVideoURL != "" && questioninfo.SupportVideoURL != null){%>
                                        <div class="col-md-12 col-sm-12 col-xs-12" id="supprtVide_<%=questioninfo.language%>">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                          <label for="city" class="col-form-label">
                                            Explanation Video URL:
                                          </label>
                                        </div>
                                        <div class="col-md-6   col-sm-12 col-xs-12">
                                          <a href="<%=imageURL+questioninfo.SupportVideoURL%>" target="_blank">
                                            To See Explanation Video Click Here
                                          </a>
                                          <a href="javascript:void(0)" onclick="openSupportVideo('<%=questioninfo.language%>')">
                                            <i class="fas fa-pencil-alt"></i>

                                          </a>
                                          <input type="file" class="form-control" name="SupportVideoURL_<%=questioninfo.language%>" id="changeSupportVideo_<%=questioninfo.language%>"
                                            style="display:none" />
                                        </div>
                                       </div>
                                      <% }
                                      else
                                      {%>
                                        
                                        <div class="col-md-12 col-sm-12 col-xs-12 mrgTp" >
                                          <div id="supportVideoContainer_<%=questioninfo.language%>" style="display:none">
                                            <div class="col-md-6 col-sm-12 col-xs-12" >
                                              <label for="city" class="col-form-label">
                                                Explanation Video :
                                              </label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">

                                              <input type="file" class="form-control" name="SupportVideoURL_<%=questioninfo.language%>" />
                                            </div>
                                          </div>
                                        </div>
                                      <% } %> 
                                  </div>

                                    <% }else{ %>
                                    <div class="col-md-12 col-sm-12 col-xs-12 mrgTp"  style="text-align: left;
                                    padding: inherit;">
                                      <div id="videoContainer_<%=questioninfo.language%>" style="display:none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 mrgTp">
                                          <div class="col-md-8 col-sm-12 col-xs-12">
                                            <label for="city" class="col-form-label">
                                              Explanation Video:
                                            </label>
                                          </div>
                                          <input type="checkbox" id="videoCh_<%=questioninfo.language%>" onclick="hideSuport(checked,`<%=questioninfo.language%>`)">  
                                          
                                          
                                        </div> 
                                        
                                        <div class="col-md-4 col-sm-12 col-xs-12" >
                                          <label for="city" class="col-form-label">
                                            Main Video:
                                          </label>
                                        </div>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                          <input type="file" class="form-control" name="Video_<%=questioninfo.language%>" />
                                        </div>
                                      </div>
                                      <div class="col-md-12 col-sm-12 col-xs-12 mrgTp" style="display:none" id="supprtVide_<%=questioninfo.language%>" >
                                        <div id="supportVideoContainer_<%=questioninfo.language%>" >
                                        <div class="col-md-4 col-sm-12 col-xs-12" >
                                          <label for="city" class="col-form-label">
                                            Explanation Video:
                                          </label>
                                        </div>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                          <input type="file" class="form-control" name="SupportVideoURL_<%=questioninfo.language%>" />
                                        </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    <% } %>
                                   
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                                      
                              <div class="col-md-6">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                  <label for="city" class="col-form-label">
                                    Answer Order:
                                      <% if(questioninfo.AnswerOrder != "" && questioninfo.AnswerOrder != null){%>
                                        <input type="checkbox" name="orderCheck_<%=questioninfo.language%>" checked onclick="openClose(checked,`<%=questioninfo.language%>`)"/>
                                      <%}else{%>  
                                        <input type="checkbox" name="orderCheck_<%=questioninfo.language%>"  onclick="openClose(checked,`<%=questioninfo.language%>`)" />
                                      <%}%>  
                                  </label>
                                </div>
                                <% if(questioninfo.AnswerOrder != '' && questioninfo.AnswerOrder != null){%>
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    
                                    <div id="sortable_<%=questioninfo.language%>">
                                      <!--items go here-->
                                    </div>
                                  </div>
                                <% } %> 
                              </div>
                              <input type="hidden" class="form-control" class="AnswerOrder_<%=questioninfo.language%>" id="AnswerOrder_<%=questioninfo.language%>" name ="AnswerOrder_<%=questioninfo.language%>" value="<%=questioninfo.AnswerOrder%>" />
                                <div  id="orderS_<%=questioninfo.language%>" style="display:none">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    
                                    <div id="sortable_<%=questioninfo.language%>">
                                      <!--items go here-->
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="col-md-4">
                                    <label for="image" class="col-form-label" >
                                      Explanation:
                                    </label>
                                  </div>
                                  <div class="col-md-8">
                                    <input type="text" name="hint_<%=questioninfo.language%>" id="" value = " <%=questioninfo.hint%>" class="form-control" <%=disableValue%>>
                                  </div>
                              </div>
                          
                          </div>
                            <% })  %>  
                          </div>
                          <% }%>  
                          <div class="col-md-12 col-xs-12 col-sm-12 mrgTp algnCenter">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                              <input type="submit" class="btn btn-success" value="save" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </form>
          </div>
          <div class="modal" id="myModal4">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                

                <!-- Modal body -->
                <div class="modal-body algnCenter" >
                    <table class="table" id="inactiveQuestionId">
                      <tr>
                        <td>
                          Question  
                        </td>
                        <td>
                          <p id="questionSecond">asdasdasdasd</p>
                        </td>
                      </tr> 
                      <tr>
                        <td>
                          option1  
                        </td>
                        <td>
                          <p id="option1Second">option1</p>
                        </td>
                      </tr>  
                      <tr>
                        <td>
                          option2  
                        </td>
                        <td>
                          <p id="option2Second">option2</p>
                        </td>
                      </tr>
                      <tr>  
                        <td>
                          option3  
                        </td>
                        <td>
                          <p id="option3Second">option3</p>
                        </td>
                      </tr>  
                      <tr>
                        <td>
                          option4  
                        </td>
                        <td>
                          <p id="option4Second">option4</p>
                        </td>
                      </tr> 

                      </tr>
                    </table>
                  </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
          <!-- Sticky Footer -->
          <footer class="sticky-footer">
            <% include ../views/elements/footer %>
          </footer>
        </div>
        <!-- /.content-wrapper -->
      </div>
      <!-- /#wrapper -->
      <!-- Scroll to Top Button-->
      <% include ../views/elements/bootom %>

      <script>
        let ageArr = document.getElementById('resultant_arr').value.split(",");
        console.log(ageArr);
        let countryArr = document.getElementById('country_arr').value.split(",");
        let countryRegionArr = document.getElementById('country_region_arr').value.split(",");
        console.log("My Cont REgion = "+countryRegionArr);
        let newRegionArr = [];

        let imgResAr = document.getElementById('alrd_region_arr').value.split(",");

        console.log("Img REs Array"+ imgResAr);

        for(m=0;m<imgResAr.length;m++)
        {
          let imgel = document.getElementById("imgRgn_"+imgResAr[m]);
          console.log(imgel);

          // let imgpxl = parseInt(imgel.naturalWidth) * parseInt(imgel.naturalHeight);
          // let imgBits = imgpxl * 16;
          // let imgNtlsize = parseInt(imgBits / (8 * 1024));
          // console.log(imgNtlsize);

          

          // document.getElementById("imgRes_"+imgResAr[m]).innerHTML = imgel.naturalWidth+'px x '+imgel.naturalHeight +'px <br>'+ imgNtlsize+'KB';

          
        }

        function removeA(arr) {
          var what, a = arguments, L = a.length, ax;
          while (L > 1 && arr.length) {
            what = a[--L];
            while ((ax = arr.indexOf(what)) !== -1) {
              arr.splice(ax, 1);
              break
            }
          }
          return arr;
        }

        /* free play */
        function freePlaySelected(checked) {
          //console.log("free play check box clicked ", checked);
          if (checked) {
            document.getElementById("sltPackage").disabled = true;
            document.getElementById("freePlay").value = 1;
            //document.getElementById("freePlay").disable = false;
          }
          else {
            document.getElementById("sltPackage").disabled = false;
            document.getElementById("freePlay").value = 0;
            //document.getElementById("freePlay").disable = true;
          }
        }

        /* Age check */

        function addAgeArray(age, e) {
          console.log(ageArr);
          console.log(age);
          if (e.checked) {
            ageArr.push(age);
          }
          else {
            removeA(ageArr, age);
          }
          document.getElementById('resultant_arr').value = [ageArr];
        }

        /* country check */

        function addCountryArray(imageUrl,country,language,image,question,option1,option2,option3,option4,answer,hint,fileType,imagef,sound,video, e) {
          
          if(confirm("This will add/ remove region from question") == true)
          {
            
            if (e.checked) {
              countryArr.push(country);
              countryRegionArr.push(language);

              newRegionArr.push(language);
              addQuesDiv(imageUrl,country,language,image,question,option1,option2,option3,option4,answer,hint,fileType,imagef,sound,video);
            }
            else {
              removeA(countryArr, country);
              removeA(countryRegionArr, language);
              
              removeA(newRegionArr,language);
              removeQuestions(country,language);
              
            }
            document.getElementById('country_arr').value = countryArr;
            document.getElementById('country_region_arr').value = countryRegionArr;
            document.getElementById('new_region_arr').value = newRegionArr;

          } else {
            if (e.checked)
            {
              e.checked = false;
            }
            else
            {
              e.checked = true;
            }
          }

          


          
        }

        function openImage(lan) {
          //alert(lan)
          $("#changeImage"+lan).show();
        }

        function openSound(region) {
          $("#changeSound_"+region).show();
        }

        function openVideo(region) {
          $("#changeVideo_"+region).show();
        }


        function openSupportVideo(region)
        {
          $("#changeSupportVideo_"+region).show();
        }

        function changeCountryEdit(url,type,question_id)
        {
          //alert(type)
          id = $("#changeCountryData").val()
          //alert( question_id)
          window.location = url+'editQuestions/'+question_id+'/'+type+"/"+id;

        }


        function openClose(checked,lang)
        {
          //alert(1)
          if(checked)
          {
            $("#sortable_"+lang).show()
            $("#sortablenew_"+lang).show()
            //$("#AnswerOrder_"+lang).val("1,2,3,4")
            $("#orderS_"+lang).show()
          }
          else
          {
            $("#sortable_"+lang).hide()
            $("#sortablenew_"+lang).hide()
            //$("#AnswerOrder_"+lang).val("")
            $("#orderS_"+lang).hide()
          }
        }


        function openPop(questionSecond,answer1Second,answer2Second,answer3Second,answer4Second,hintSecond,correct_AnswerSecond,image_URLSecond)
        {
          document.getElementById("questionSecond").innerHTML= questionSecond
          document.getElementById("option1Second").innerHTML= answer1Second
          document.getElementById("option2Second").innerHTML= answer2Second
          document.getElementById("option3Second").innerHTML= answer3Second
          document.getElementById("option4Second").innerHTML= answer4Second
        }

        function addQuesDiv(imageUrl,regionid,lang,image,question,option1,option2,option3,option4,answer,hint,fileType,imagef,sound,video){
          console.log(lang);
          var dcount = document.getElementById('total-qdiv').value;
          duplicateChildNodes(imageUrl,regionid,lang,image,dcount,question,option1,option2,option3,option4,answer,hint,fileType,imagef,sound,video);
        }

        function removeQuestions(regionid,lang){
          //alert(regionid);
          var dcount = document.getElementById('total-qdiv').value;

          document.getElementById('qdiv'+regionid).remove();
          document.getElementById('total-qdiv').value = parseInt(dcount)-1;
          
        }

        function duplicateChildNodes (imageUrl,regionid,lang,image,dcount,question,option1,option2,option3,option4,answer,hint,fileType,imagef,sound,video){
          
          var parenttop = document.getElementById('top-level-qs');
          let ans1="",ans2="",ans3="",ans4=""
          console.log(imagef)
          imagef= imagef.replace(/\s/g,'%20')
          sound= sound.replace(/\s/g,'%20')
          video= video.replace(/\s/g,'%20')
          let file1="",file2="",file3="",file4="",displayCon="display:none";

          if(fileType == 1)
          {
            file1 ="selected";
            displayCon=""
          }
          else if(fileType == 2)
          {
            file2 ="selected"
            displayCon=""
          }
          else if(fileType == 3)
          {
            file3 ="selected" 
            displayCon=""
          }

          if(answer == "A")
          {
            ans1 ="selected"
          }
          else if(answer == "B")
          {
            ans2 ="selected"
          }
          else if(answer == "C")
          {
            ans3 ="selected"
          }
          else if(answer == "D")
          {
            ans4 ="selected"
          }

          var qdHtml = '<div id="qdiv'+regionid+'" class="col-md-12 col-sm-12 col-xs-12 qRpClass" style="padding:20px;float:left;"> <div style="margin-top:10px;"><textarea class="form-control" rows="2" cols="50" name="question_'+lang+'" id="questionText" required="" aria-required="true">'+question+'</textarea></div><div class="col-md-6"><div class="col-md-6" style="padding:10px;"><div class="col-md-12"><b>Option A: </b> </div> <div class="col-md-12"><input type="text" class="form-control col-md-6 valid" value='+option1+' name="option1_'+lang+'" id="option1" aria-invalid="false" style="width: 353px !important;"></div></div><div class="col-md-6" style="padding:10px;"><div class="col-md-12"> <b>Option B: </b></div><div class="col-md-12"><input type="text" class="form-control col-md-6" value='+option2+' name="option2_'+lang+'" id="option2"></div> </div> <div class="col-md-6" style="padding:10px;"><div class="col-md-12"> <b>Option C: </b></div><div class="col-md-12"><input type="text" class="form-control col-md-6" value='+option3+' name="option3_'+lang+'" id="option3"></div> </div><div class="col-md-6" style="padding:10px;"><div class="col-md-12"><b>Option D: </b></div> <div class="col-md-12"><input type="text" class="form-control col-md-6" value='+option4+' name="option4_'+lang+'" id="option4"></div></div></div><div class="col-md-3"><div class="col-md-12" style="padding:10px;"><div class="col-md-12"><b>Answer : </b> </div><div class="col-md-12"><select class="form-control" name="answer_'+lang+'" id="answer"><option value="">Please Select</option><option '+ans1+'>A</option><option '+ans2+'>B</option><option '+ans3+'>C</option><option '+ans4+'>D</option></select></div></div><div class="col-md-12" style="padding:10px;"><div style="width:40px;height:40px; margin-left:15px"><img src='+imageUrl+image+' style="width:100%"></div></div></div><div class="col-md-3"><div class="col-md-12" style="padding:10px;"><div class="col-md-12"><b>File Type</b></div><div class="col-md-12"><select class="form-control form-control-sm valid" id="fileType_'+lang+'" name="fileType_'+lang+'" onchange="changeFileType(\''+lang+'\')" aria-invalid="false"><option value="0" >Select File Type</option><option value="0">No File</option><option value="1" '+file1+' >Image</option><option value="2" '+file2+'>Sound</option><option value="3" '+file3+'>Video</option></select></div></div><div class="col-md-12 col-sm-12 col-xs-12 mrgTp no-mrg-pd" id="imageContainer_'+lang+'" style='+displayCon+'><div class="col-md-12 col-sm-12 col-xs-12"><div class="col-md-12 col-sm-12 col-xs-12" id="zoomEffect_'+lang+'><input type="checkbox" id="zoom" name="zoom_'+lang+'><b class="paddingSt">Zoom</b></div><label for="image" class="col-form-label">Image:</label><div style="width:80px;margin-left:15px"><img src='+imageUrl+imagef+' style="width:100%"></div></div><div class="col-md-12 col-sm-12 col-xs-12"><input type="file" class="form-control" name="image_'+lang+'"></div></div><div class="col-md-12 col-sm-12 col-xs-12 mrgTp no-mrg-pd" id="soundContainer_'+lang+'" style="display:none;"><div class="col-md-12 col-sm-12 col-xs-12"><label for="city" class="col-form-label">Sound:</label></div><div class="col-md-12 col-sm-12 col-xs-12"><input type="file" class="form-control" name="Sound_'+lang+'"></div></div><div class="col-md-12 col-sm-12 col-xs-12 mrgTp no-mrg-pd" id="videoContainer_'+lang+'" style="display:none;"><div class="col-md-12 col-sm-12 col-xs-12"><label for="city" class="col-form-label">Main Video:</label></div><div class="col-md-12 col-sm-12 col-xs-12"><input type="hidden" value='+imagef+' name="imageUrl_'+lang+'" /><input type="hidden" value="" name="soundUrl_'+lang+'" /><input type="hidden" value="" name="videoUrl_'+lang+'" /><input type="file" class="form-control" name="Video_'+lang+'"></div>Explanation Video<input type="file" class="form-control" name="SupportVideoURL_'+lang+'"></div></div></div><div class="col-md-6" style="padding:10px;"> <div class="col-md-12" style="padding: 0px;"><b>Answer Order : </b><input type="checkbox" name="orderCheck_'+lang+'" onclick="openClose(checked,`'+lang.trim()+'`)"> <input type="hidden" class="form-control col-md-6" id="AnswerOrder_'+lang+'"  name="AnswerOrder_'+lang+'"><div id="sortablenew_'+lang+'" style="display:none"> </div><div id="array" class="text" style="display:none"></div></div></div><div class="col-md-4"><div class="col-md-4"><label for="image" class="col-form-label" >Explanation: </label></div><div class="col-md-8"><input type="text" value="'+hint+'" name="hint_'+lang+'" id="" class="form-control"></div></div> </div></div>';

          console.log(qdHtml);
          var stringToHTML = convertToHtml(qdHtml);
          console.log(stringToHTML);

          parenttop.appendChild(stringToHTML);
          document.getElementById('total-qdiv').value = parseInt(dcount)+1;
          newOrder(lang);

          /*clone = div.cloneNode(true); // true means clone all childNodes and all event handlers
          clone.id = "qdiv"+dcount;
          parenttop.appendChild(clone);
          document.getElementById('total-qdiv').value = dcount;*/

          /*NodeList.prototype.forEach = Array.prototype.forEach;
          var children = parent.childNodes;
          console.log(children);
          children.forEach(function(item){
            var cln = item.cloneNode(true);
            parenttop.appendChild(cln);
            
          });*/

        };

        function newOrder(lang)
        {
          startArray = ["A","B","C","D"];
          updateArray = [];
          colors = ['one', 'two', 'three', 'four'];
          myList1 = $('#sortablenew_'+lang);
          for(let i = 0; i < startArray.length; i++){
            myList1.append('<div id="box-'+startArray[i]+'" class="draggable '+colors[i]+'" draggable="true" photoID="'+startArray[i]+'">'+startArray[i]+'</div>');
          }
          $('#sortablenew_'+lang).css({
            "position": "relative",
            "display": "flex",
            "flex-direction": "row",
            "align-items": "center",
            "justify-content": "center",
            width: "20%",
            margin: "0 10%"
            });
          myList1.sortable(
            {
                axis: 'x',
                stop: function(event, ui){
                    updateArray = $("#sortablenew_"+lang).sortable("toArray", {attribute: 'photoID'});
                    $('#AnswerOrder_'+lang).val(updateArray.join(', '));
                }
            }
        );
      
        updateArray = $("#sortablenew_"+lang).sortable("toArray", {attribute: 'photoID'});
        $('#AnswerOrder_'+lang).val(updateArray.join(', '));
        $('#sortablenew_'+lang).hide()
        }

        function convertToHtml(str) {
          var parser = new DOMParser();
          var doc = parser.parseFromString(str, 'text/html');
          return doc.body;
        };



        function hideSuport(checked,lang)
        {
          if(checked)
          {
            $("#supprtVide_"+lang).show()
            $("#supportVideoContainer_"+lang).show();
          }
          else
          {
            $("#supprtVide_"+lang).hide()
            $("#supportVideoContainer_"+lang).hide();
          }
        }



        startArray = ["A","B","C","D"];
        updateArray = [];
        colors = ['one', 'two', 'three', 'four'];
        

        $(document).ready(function(){
        let regionCodes = $("#alrd_region_arr").val();
        let regArr = regionCodes.split(',')
        //console.log(regArr);
        myList=[]
        for(let k=0;k<regArr.length;k++)
        {
          $('#sortable_'+regArr[k]).css({
            "position": "relative",
            "display": "flex",
            "flex-direction": "row",
            "align-items": "center",
            "justify-content": "center",
            width: "20%",
            margin: "0 10%"
            });
          myList.push($('#sortable_'+regArr[k]));
          
          //initialise array order
          let answValue = $('#AnswerOrder_'+regArr[k]).val();
          let answValueArr = answValue.split(",");
          
          if(answValueArr.length >0)
          {
            if(answValueArr[0] != '')
            {
              for(let i = 0; i < answValueArr.length; i++){
                  myList[k].append('<div id="box-'+regArr[k]+answValueArr[i]+'" class="draggable '+colors[i]+'" draggable="true" photoID="'+answValueArr[i]+'">'+answValueArr[i]+'</div>');
              }
            }
            else
            {
              for(let i = 0; i < startArray.length; i++){
                myList[k].append('<div id="box-'+regArr[k]+startArray[i]+'" class="draggable '+colors[i]+'" draggable="true" photoID="'+startArray[i]+'">'+startArray[i]+'</div>');
              }
            }
          }
          else
          {
            for(let i = 0; i < startArray.length; i++){
              myList[k].append('<div id="box-'+regArr[k]+startArray[i]+'" class="draggable '+colors[i]+'" draggable="true" photoID="'+startArray[i]+'">'+startArray[i]+'</div>');
              }
          }

          //allow sorting
            $(() => {
              //console.log(myList);
                    myList[k].sortable(
                    {
                        axis: 'x',
                        stop: function(event, ui){
                            updateArray = $("#sortable_"+regArr[k]).sortable("toArray", {attribute: 'photoID'});
                            //$('#array').html(updateArray.join(', '));
                            //console.log(updateArray);
                            $('#AnswerOrder_'+regArr[k]).val(updateArray.join(', '));
                        }
                    }
                );
              
                updateArray = $("#sortable_"+regArr[k]).sortable("toArray", {attribute: 'photoID'});
                //console.log("updateArray");
              // $('#array').html(updateArray.join(', '));
                //myList[k].disableSelection();
                $('#AnswerOrder_'+regArr[k]).val(updateArray.join(', '));

            } );
        }

})


      </script>
</body>

</html>


