<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/elements/head %>
</head>
<body id="page-top">
  <% include ../views/elements/header.html %>
  <div id="wrapper">
    <!-- Sidebar -->
    <% include ../views/elements/left-panel.html %>
    
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/redeemCodeView/0" style="font-weight:bold;">Redeem Code</a>
          </li>
        </ol>
        <div class="row">
		      <div class="col-md-12 col-sm-12 col-xs-12" >
              <div class="col-md-12 col-sm-12 col-xs-12" >
                  <div class="col-md-1 col-sm-12 col-xs-12">
                    <label for="city" class="col-form-label"> Redeem Code:</label>
                  </div>
                  <div class="col-md-2 col-sm-12 col-xs-12">
                    <input type="text" class="form-control" name="redeemCode" id="redeemCode" />
                  </div>
                  
                  <div class="col-md-3 col-sm-12 col-xs-12 paddingSt" style="text-align:center;">
                    <a href="#" class="btn btn-success" id="search" onclick="searchRedeemCodeList('<%=webURL%>')">Search</a>
                  </div>
              </div>
            </div>s
          
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <b>Redeem code</b>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered align" id="datTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S. No.</th>
                      <th>UserName</th>
                      <th>Licence</th>
                      <th>Email</th>
                      <th>Redeem Code</th>
                      <th>Categories</th>
                      <th>Status</th>
                      <th>Created</th>
                    </tr>
                  </thead>
                  <tbody id="userArray">
                    <% if(redeemCodeData.length > 0){ %>
                      <% let i=0; %>
                      <%  redeemCodeData.forEach(function(redeemCodeData){i++%>
                        <tr>
                          <td><%=i%></td>
                          <td>
                            <%if(redeemCodeData.username == null || redeemCodeData.username == '')	
                            {%>
                                -
                            <%}
                            else
                            {%>
                              <%=redeemCodeData.username%>

                            <%}%>					
				
                			  </td>
                          
                        <td>
                            <%if(redeemCodeData.licence_id == null || redeemCodeData.licence_id == '')	
                            {%>
                          -
                            <%}
                            else
                          {%>
                          <%=redeemCodeData.licence_id%>

                          <%}%>			  
                        </td>
                        <td>
                            <%if(redeemCodeData.email == null || redeemCodeData.email  == '')	
                              {%>
                            -
                              <%}
                              else
                            {%>
                            <%=redeemCodeData.email %>

                            <%}%>                       
			                    </td>
                          <td><%=redeemCodeData.redeem_code%></td>
                          <td>
                            
                              <% let age =  redeemCodeData.categories.split(",")%>       
                              <% if(age.length >0){%>
                                <%  age.forEach(function(age1){%>
                                  
                                    <%let arr2 = categories.filter(a => a.id === parseInt(age1) )%>
                                    <%if(arr2.length > 0 )
                                    { %>
                                      <%=arr2[0].category%> 
                                    <%}%>
                                  
                                <% } )%>
                              <% }else{

                              }%>

                            
                            
                          </td>
                          <td>
                            <%if(redeemCodeData.status == 0 )	
                              {%>
                                Active	
                              <%}
                              else
                              {%>
                                      Not Active			

                              <%}%> 			  
			                    </td>
                          <td><%=redeemCodeData.created.toLocaleString('en-us')%></td>
                          
                                    </tr>
                                  <% }) %>
                                  <% }else{ %>
                                    <tr>
                                      <td colspan="4">
                                        <h3><b> No Redeem Code Created </b></h3>
                                      </td>
                                    </tr>
                                  <% } %>
                    </tbody>
                </table>
                
                <span id='pagination'>
                  <%
                  let j=1;

                  if (paginator > 0) { %>
                  <ul class="pagination text-center">
                      <% var k = (Number(page) > 5 ? Number(page) - 4 : 1) %>

                      <% if (page == 0) { %>
                          <li class="disabled"><a>First</a></li>
                      <% } else { %>
                          <li><a href="/redeemCodeView/0">First</a></li>
                      <% } %>


                    <% if (k !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; k <= (Number(page)+20) && k < Math.round(paginator/20); k++) {
                        %>
                          <% if (k == page) { %>
                              <li class="active"><a><%= k %></a></li>
                          <% } else { %>
                              <li><a href="/redeemCodeView/<%=parseInt(k)%>/?filter[skip]=<%=k*20 %>"><%= k %></a></li>
                          <% } %>

                          <% if (k == Number(page) + 20 && k < paginator) { %>
                              <li class="disabled"><a>...</a></li>
                          <% } %>

                    <% } %>
                    <% if (j == paginator) { %>
                      <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                      <li>
                        <a href="/redeemCodeView/<%=Math.round(paginator/20)%>/?filter[skip]=<%=k*(20) %>">
                          Last
                        </a>
                      </li>
                    <% } %>
                  </ul>
                  <% } %>
                </span>
            
              </div>
            </div>
          </div>
        </div>
		<script>
		function searchRedeemCodeList(url)
          {
            let code = $("#redeemCode").val();
            
           

            if(code == '' )
            {
              alert("please enter")
            }
            else
            {
              $.ajax({
                type: "POST",
                url: url+'getRedeemCodeSearch',
                data: 'code='+code,
                success: function(data)
                {
				//console.log(data)
                  $("#userArray").html("");
		  $("#pagination").html("");
                  let html,i=0;
                  $.each(JSON.parse(data), function(key,value)
                  {
                     i++;
                    html += '<tr>';
                    html += '<td>'+i+'</td>';
					if(value.username != null &&  value.username != ''){
                        html += '<td>'+value.username+'</td>';
								}
								else
								{
								html += '<td>-</td>';
								}
					if(value.licence_id != null &&  value.licence_id != ''){
						  html += '<td>'+value.licence_id+'</td>';
						  }
						  else
						  {
							html += '<td>-</td>';
						  }
					if(value.email != null &&  value.email != ''){	  
						html += '<td>'+value.email+'</td>';
						}
						  else
						  {
							html += '<td>-</td>';
						  }
                    html += '<td>'+value.redeem_code+'</td>';
					if(value.status == 0){	  
						html += '<td>Active</td>';
						}
						  else
						  {
							html += '<td>InActive</td>';
						  }
                    html += '<td>'+value.created.toLocaleString('en-us')+'</td>';
                    
                    html += '<i>Delete</i>';
                    html += '</a></td>';

                    html += '</tr>';
                  })
                  $("#userArray").append(html);
		  
                }
              })
            }
          }

        </script>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <% include ../views/elements/footer %>
        </footer>
      </div>
          <!-- /.content-wrapper -->
    </div>
  </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <% include ../views/elements/bootom %>
    </body>
  </html>
