<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/elements/head %>
  <style type="text/css">
 
  h1{color: #fff;font-weight: normal;}
  .draggable-main{width: 800px;margin: 0 auto;}
  .box {
    float: left;
    width: 30%;
    margin-right: 2%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}
  .box:last-child{margin: 0px;}
  .connected-sortable {list-style: none;padding: 20px;margin: 0px;}
  .draggable-main ul li{
  width: inherit; 
  padding: 12px 8px;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  text-transform: capitalize;
  color: #000;

  margin-bottom: 4px;
  /* border-radius: 5px; */
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  -webkit-transition: box-shadow 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  }
  /* ul li:hover {cursor: pointer;background-color: #fff;color: #000;} */
  ul li.ui-sortable-helper {background-color: #e5e5e5;-webkit-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);-moz-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);transform: scale(1.015);z-index: 100;}
  ul li.ui-sortable-placeholder {background-color: #ddd;-moz-box-shadow: inset 0 0 10px #000000;-webkit-box-shadow: inset 0 0 10px #000000;box-shadow: inset 0 0 10px #000000;}
</style>
</head>

<body id="page-top">
  <% include ../views/elements/header.html %>
  <div id="wrapper">
    <!-- Sidebar -->
    <% include ../views/elements/left-panel.html %>
    
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/viewCategories/0" style="font-weight:bold;">Category</a>
            
          </li>
          
        </ol>
        
        <div class="row">
          
          <div class="draggable-main">
            
            <div class="box" style="height: 500px; overflow: scroll">
              
              <ul class="connected-sortable draggable-left" >
                <%  categoryData.forEach(function(categoryData){%>
                  
                  
                      <li value="<%=categoryData.id%>"><%=categoryData.category%></li> 
                  
                  
                  <% }) %>  

              </ul>
            </div>
            
            <div class="box" data-tags='tags' style="height: 500px;  overflow: scroll">
              <div class="m-3">
                <input type="text" class="form-control" id="category" placeholder="Category" name="category" value="<%=name%>" disabled/>
                <div class="invalid-feedback select-atleast-one">
                  Select atleast one from the list.
                </div>
              </div>
              
              <ul class="connected-sortable draggable-right" >
                <%  selected.forEach(function(selected){%>
                  <li value="<%=selected.id%>"><%=selected.category%></li>
                 
                  <% }) %>
              </ul>
            </div>
            <div class="box">
              <select class="form-control" id="order">
                <% for(let i=1;i<21;i++)
                {%>
                <option value="<%=i%>"><%=i%></option>
                <% } %>
              </select>
            </div>
            <input type="hidden" value="<%=selected[0].country_id%>" id="region">
            <div class="col-md-11" style="text-align:right">	
                  <a href="javascript:void(0)" class="btn btn-success save-info mt-3">Save</a>
                  <a href="/deleteTag/<%=name%>" class="btn btn-danger mt-3" >Delete Tag</a>
            </div>	
            <input type="hidden" value="<%=webURL%>" id="webUrl"/>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:30px;" >
          <div class="col-md-12 col-sm-12 col-xs-12">
          </div>
        </div>
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Active/Deactive Package</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                Are you Sure
              </div>
              <div class="col-md-12" style="padding: 10px;text-align:center">
                <div class="col-md-6" id="optionPack">
                </div>
              </div>  
              <!-- Modal footer -->
            </div>
          </div>
        </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <% include ../views/elements/footer %>
        </footer>
      </div>
          <!-- /.content-wrapper -->
    </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <% include ../views/elements/bootom %>
        <script>
          $(".draggable-left, .draggable-right").sortable({
            connectWith: ".connected-sortable",
            stack: ".connected-sortable ul"
          }).disableSelection();
          $(".save-info").on("click", function(){
            //alert(1)
            var categoryVal = $('#category').val();
            var getMoveVal = $('.draggable-right .ui-sortable-handle').length;
            var region = $('#region').val();
            var order = $('#order').val();
            //alert("----List Name-----"+categoryVal+"----List----"+getMoveVal);
            //console.log($("#selectedVa").val())
            var getFilterData = [];
            
            $('.draggable-right .ui-sortable-handle').each(function() {
              console.log($(this).attr("value"))
              getFilterData.push({name: $(this).attr("value")});
              //console.log(getFilterData)
            });
            var url = $("#webUrl").val();
            console.log("===123",getFilterData)
            if(getMoveVal === 0) {
              $('.select-atleast-one').show();
            } else {
              $('.select-atleast-one').hide();
            }
            $.ajax({
              type: "POST",
              url: url+'updateCatTagIndex',
              data: 'id='+categoryVal+"&listVal="+JSON.stringify(getFilterData)+"&region="+region+"&order="+order,
              success: function(data)
              {
                
                location.reload()
              }

              });
              // alert($(this).closest('li').data('tags'));
          });
          //   let countryArr = document.getElementById('country_arr').value.split(",");
          //  // alert(countryArr);
          //   function addCountryArray(country, e) 
          //   {
          //     //console.log(country)
          //     if (e.checked) {
          //       countryArr.push(country);
          //     }
          //     else {
          //       removeA(countryArr, country);
          //     }
          //     document.getElementById('country_arr').value = countryArr;
          //   }


          //   function removeA(arr) {
          //   var what, a = arguments, L = a.length, ax;
          //   while (L > 1 && arr.length) {
          //     what = a[--L];
          //     while ((ax = arr.indexOf(what)) !== -1) {
          //       arr.splice(ax, 1);
          //     }
          //   }
          //   return arr;
          // }


          
        function categoryState(url,type,userid)
        {
        
         $("#optionPack").html("")
         $("#optionPack").append('<tr><td><a  href='+url+'updateCategoryState/'+type+'/'+userid+' class="btn btn-danger">Yes</a></td><td><a class="btn btn-info" class="close" data-dismiss="modal">No</a></td><tr>');
        }
        
        </script>

    </body>
  </html>
