<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/elements/head %>
</head>
<body id="page-top">
  <% include ../views/elements/header.html %>
  <div id="wrapper">
    <!-- Sidebar -->
    <% include ../views/elements/left-panel.html %>
    <%
    let id ="";name ="",code="",languages="",logo="";
    if(countryInfo != null)
    {
      id = countryInfo.id;
      name = countryInfo.name;
      code = countryInfo.code;
      languages = countryInfo.language;
      logo= countryInfo.image;
    }
    %>
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/country/0" style="font-weight:bold;">Countries</a>
          </li>
        </ol>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:30px;" >
              <% let messages = getMessages()%>
              <label class="col-sm-12 col-form-label" style="text-align:center">
                <%= messages.notify %>
              </label>
            <form method="post" action="/addCountry" id="countryData" enctype="multipart/form-data">
              <div class="form-group">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  <b>Add Countries</b>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="border:2px solid #dedede;padding:20px;">
                  <div class="col-md-2 col-xs-12 col-sm-12 paddingSt" >
                    <div class="col-md-12 col-xs-12 col-sm-12">
                      <input type="hidden" name="id" value="<%=id%>"/>
                      <input type="text" class="form-control" id="countryName" placeholder="Country Name" name="name" value="<%=name%>" required/>
                    </div>
                  </div>
                  <div class="col-md-2 col-xs-12 col-sm-12 paddingSt" >
                    <div class="col-md-12 col-xs-12 col-sm-12">
                      <input type="text" class="form-control" id="countryCode" placeholder="Country Code" name="code" value="<%=code%>" required/>
                    </div>
                  </div>
                  <div class="col-md-2 col-xs-12 col-sm-12 paddingSt" >
                    <div class="col-md-12 col-xs-12 col-sm-12">
                      <input type="text" class="form-control" id="language" placeholder="language" name="languages" value="<%=languages%>" required/>
                    </div>
                  </div>
                  <% if(logo ==  ""){ %>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <label for="city" class="col-form-label">Logo:</label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                      <input type="file" class="form-control" id="logo" name="logo" required>
                      
                      <b id="response" style="color:red"></b>
                    </div>
                  <% }else{ %>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                      <label for="city" class="col-form-label">Logo:</label>
                    </div>
                    
                      <img src="<%=imageURL%><%=logo%>" width="200px"  />
                     
                    <input type="hidden" class="form-control" name="logo" value="<%=logo%>">
                   <input type="file" class="form-control"
                    name="logo" value="<%=logo%>" autocomplete="off" id="editImage">
                  <% } %>


                  
                  <div class="col-md-3 col-sm-12 col-xs-12 paddingSt" style="text-align:center;">
                    <input type="submit" class="btn btn-success" value="Save" />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <b>Countries</b>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered align" id="datTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S. No.</th>
                      <th>CountryName</th>
                      <th>CountryCode</th>
                      <th>Language</th>
                      <th>Created</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(countryData.length > 0){ %>
                      <% let i=0; %>
                      <%  countryData.forEach(function(countryData){i++%>
                        <tr>
                          <td><%=i%></td>
                          <td><%=countryData.name%></td>
                          <td><%=countryData.code%></td>
                          <td><%=countryData.language%></td>
                          <td>
                            <%=countryData.created.toLocaleString('en-us')%>
                          </td>
                          <td>
                            <a href="/country/<%=countryData.id%>">
                              <i class="fas fa-pencil-alt"></i>
                            </a>
                          </td>
                        </tr>
                      <% }) %>
                      <% }else{ %>
                        <tr>
                          <td colspan="4">
                            <h3><b> No Country Created </b></h3>
                          </td>
                        </tr>
                      <% } %>
                    </tbody>
                </table>
                <% if(paginator > 10) { %>
                <div style="float:right">
                  <% let pages = Math.ceil(paginator/10)%>
                  <ul class="pagination">
                    <% for(let i=0;i<pages;i++){%>
                      <li class="page-item">
                        <a class="page-link" href="/country/<%=i+10 %>?filter[skip]=<%=i*10 %>"><%=i+1%></a>
                      </li>
                    <% } %>
                  </ul>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <% include ../views/elements/footer %>
        </footer>
      </div>
          <!-- /.content-wrapper -->
    </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <% include ../views/elements/bootom %>
    </body>
  </html>
