<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/elements/head %>
</head>
<body id="page-top">
  <% include ../views/elements/header.html %>
  <div id="wrapper">
    <!-- Sidebar -->
    <% include ../views/elements/left-panel.html %>
    <%
      let id =0,category_id =0,SubCategory="";
      if(speficData)
      {
        id=speficData.id;
        category_id=speficData.category_id;
        SubCategory=speficData.subCategory;
      }
    %>

    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/viewSubCategory/0/0/0" class="fntBld">Sub Category</a>
          </li>
        </ol>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 pdBttm">
            <% let messages = getMessages()%>
            <label class="col-sm-12 col-form-label algnCenter">
              <%= messages.notify %>
            </label>
            <form method="post" action="/addSubCategory" id="subCategoryData">
              <div class="form-group">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  <b> Sub Category</b>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mrgTp" >
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                      <label for="city" class="col-form-label" >
                        Category:
                      </label>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                      <select class="form-control form-control-sm" id="category" name="category" onchange="getCategory('<%=webURL%>')">
                        <option value="">Select Category</option>
                        <% category.forEach(function(category){ %>
                          <% if(category.id == category_id ){%>
                            <option value="<%= category.id %>" selected><%= category.category %></option>
                          <% }else{%>
                            <option value="<%= category.id %>"><%= category.category %></option>
                          <% }%>
                        <% }); %>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                      <label for="city" class="col-form-label" >Sub Category:</label>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                      <input type="hidden" class="form-control"  name="id" value="<%=id%>"/>
                      <input type="text" class="form-control" placeholder="Sub Category" id="subCategory" name="subCategory" value="<%=SubCategory%>"/>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="col-md-8 col-sm-12 col-xs-12 algnCenter">
                      <input type="submit" value="Save" class="btn btn-success " />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12" style="float:left;">
            <div class="card-header">
              <i class="fas fa-table"></i>
              <b>Sub Category List</b>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 paddingSt">
                <div class="col-md-3 col-xs-12 col-sm-12" style="float:right">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <label for="city" class="col-form-label" >
                      Category:
                    </label>
                  </div>
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <select class="form-control form-control-sm" id="filterCate"  onclick="filterCategory('<%=webURL%>')">
                      <option value="">Select Category</option>
                      <option value="0">All Category</option>
                      <% category.forEach(function(category){ %>
                        <% if(category.id == filterCategory ){%>
                          <option value="" selected><%= category.category %></option>
                        <% }else{%>
                          <option value="<%= category.id %>"><%= category.category %></option>
                        <% }%>
                      <% }); %>
                    </select>
                  </div>
                </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered align" id="datTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S. No.</th>
                      <th>Category</th>
                      <th>Sub Category</th>
                      <th>Created</th>
                      <th>Modified</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(subCategoryData.length > 0){ %>
                      <% let i=0; %>
                        <%  subCategoryData.forEach(function(subCategoryData){i++%>
                        <tr>
                          <td><%=i%></td>
                          <td>
                            <%=subCategoryData.toJSON().categories.category%>
                          </td>
                          <td><%=subCategoryData.subCategory%></td>
                          <td>
                            <%=subCategoryData.created.toLocaleString('en-us')%>
                          </td>
                          <td>
                            <%=subCategoryData.modified.toLocaleString('en-us')%>
                          </td>
                          <td>
                            <a href="/viewSubCategory/<%=subCategoryData.id%>/0/<%=page%>?filter[skip]=<%=page*10 %>">
                              <i class="fas fa-pencil-alt"></i>
                            </a>
                            <% if(subCategoryData.status == 1){ %>
                              <input type="button" value="Active" class="btn btn-success" style="margin-left:10px;"/>
                            <% } else{ %>
                              <input type="button" value="In Active" class="btn btn-default" style="margin-left:10px;"/>
                            <% } %>
                          </td>
                        </tr>
                      <% }) %>
                    <% } %>
                  </tbody>
                </table>
                <% if(paginator > 10) { %>
                <div style="float:right">
                  <% let pages = Math.ceil(paginator/10)%>
                  <ul class="pagination">
                    <% for(let i=0;i<pages;i++) { %>
                      <li class="page-item">
                        <a class="page-link" href="/viewSubCategory/0/0/<%=i%>?filter[skip]=<%=i*10 %>">
                          <%=i+1%>
                        </a>
                      </li>
                    <% } %>
                  </ul>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <% include ../views/elements/footer %>
        </footer>
      </div>
          <!-- /.content-wrapper -->
    </div>
  </div>
</div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
    <% include ../views/elements/bootom %>
  </body>
</html>
